KALSHI_BTC_CONFIG_PATH=
KALSHI_API_BASE_URL=https://api.elections.kalshi.com/trade-api/v2
COINBASE_API_BASE_URL=https://api.exchange.coinbase.com
KALSHI_BTC_KALSHI_API_KEY_ID=
KALSHI_BTC_KALSHI_PRIVATE_KEY_PATH=
KALSHI_BTC_KALSHI_WEBSOCKET_PATH=/trade-api/ws/v2
